.reviews {
  .slide {
    padding: 2rem;
    text-align: center;
    i {
      font-size: 4rem;
      color: $light-color;
      margin-bottom: 1rem;
    }
    p {
      @include graphText(1.8rem);
    }
    img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      object-fit: cover;
      margin: 0 auto 1rem;
    }
    h3 {
      @include title(2rem);
    }
  }
}
